.container {
    display: inline-block;
    position: relative;
    width: 100%;
    z-index: 2;
}

.root {
    font-size: 16px;
    line-height: 24px;
    width: 100%;
    height: 48px;
    display: inline-block;
    position: relative;
    background-color: transparent;
    font-family: Roboto, sans-serif;
    transition: height 200ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;
    cursor: auto;
}

.input {
    padding: 0;
    position: relative;
    width: 100%;
    border: none;
    outline: none;
    background-color: rgba(0, 0, 0, 0);
    color: rgba(0, 0, 0, 0.87);
    cursor: inherit;
    font-style: inherit;
    font-variant: inherit;
    font-weight: inherit;
    font-stretch: inherit;
    font-size: inherit;
    line-height: inherit;
    font-family: inherit;
    -webkit-text-fill-color: rgba(0, 0, 0, 0.87);
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    height: 100%;
    -webkit-appearance: textfield;
}

@mixin underline--base {
    bottom: 8px;
    box-sizing: content-box;
    margin: 0;
    position: absolute;
    width: 100%;
    transition: all 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;
}
$color-underline: rgb(224, 224, 224);
$color-underline-active: rgb(0, 188, 212);

//noinspection CssOptimizeSimilarProperties
.underline {
    @include underline--base;
    border-top: none $color-underline;
    border-left: none $color-underline;
    border-right: none $color-underline;
    border-bottom: 1px solid $color-underline;
}

//noinspection CssOptimizeSimilarProperties
.underline--active {
    @include underline--base;
    border-top: none $color-underline-active;
    border-left: none $color-underline-active;
    border-right: none $color-underline-active;
    border-bottom: 2px solid $color-underline-active;
}